html{
    scroll-behavior: smooth;
    color-scheme: light dark;
}
body {
    background-color: #dedede;
    padding: 5px;
    margin: 15px;
    font-size: 25px;
    font-family:Arial, sans-serif;
}

h1 {
    text-align: center;
    font-family:Arial, sans-serif;
    font-size: 1.95em;
}

h2{
    text-align:center;
  }

li{
    margin-top: 20px;
}

img{
    border: 5px solid blue;
    border-radius: 35px;
    width: 100%;
}

.label{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;

    width: 80%;
    margin: 0 auto;
}

figure {
    margin: 0;
    padding: 0;
    text-align: center;

    background-color: #fff;
    color: rgb(17, 17, 16);
    border: 1px solid #252323;

}

@media screen and (min-width:772px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }

    img{
        border-radius: 50%;
    }

    figure:last-child {
        grid-column: span 2;
    }
}

@media screen and (min-width: 992px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }

    img{
        border-radius: 0;
    }

    figure:nth-of-type(3n) {
        grid-column: span 2;
    }
}

@media (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}

  /* Dark color scheme */
  @media (prefers-color-scheme: dark) {
    body {
        color: #222222;
    }
    a {
        color: #0000EB !important;
    }
    figure {
        background-color: #222222;
        color: #ffd700;
    }
    img {
        border: 1px solid #000000;
    }
  }